<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/user/<%=user.id%>?_method=DELETE">
        <input type="text" placeholder="Enter Email" name="email">
        <input type="password" placeholder="Enter Password" name="password">
        <button>DELETE PERMANENTLY</button>
    </form>
   
</body>
</html>